{% extends 'base.html' %}

{% block body %}
<form method="post" action="new_main">
    <h3>{{the_title}}</h3>
    <img src="static/images/welcome-title.png" />
    <table>
        <tr>
            <td>Дата и время в накладной: </td>
            <td><span id="datetime">{{datetime_now}}</span></td>
        </tr>
        <tr>
            <td>Отгружаем со склада: </td>
            <td><input id="stock" list="{{stocks_list}}">
                <datalist id="{{stocks_list}}">
                <option>{{stocks_list[0]}}</option>
                <option>{{stocks_list[1]}}</option>
                <option>{{stocks_list[2]}}</option>
                <option>{{stocks_list[3]}}</option>
                <option>{{stocks_list[4]}}</option>
                <option>{{stocks_list[5]}}</option>
                <option>{{stocks_list[6]}}</option>
                <option>{{stocks_list[7]}}</option>
                <option>{{stocks_list[8]}}</option>
                <option>{{stocks_list[9]}}</option>
                <option>{{stocks_list[10]}}</option>
            </datalist></td>
        </tr>
        <tr>
            <td><a href="/logout"> Отпустить токен </a> </td>
        </tr>
    </table>
    <table>
        <tr>
            <td>
               <p><input type="button" id="FormAnApplication" value=" Сформировать заявку " /></p>
            </td>
        </tr>
    </table>
    <table>
        <tr>
            <td> Выберите получателя: </td>
            <td><input id="suppliers" list="{{suppliers_list}}">
                <datalist id="{{suppliers_list}}">
                <option>{{suppliers_list[0]}}</option>
                <option>{{suppliers_list[1]}}</option>
                <option>{{suppliers_list[2]}}</option>
                <option>{{suppliers_list[3]}}</option>
                <option>{{suppliers_list[4]}}</option>
                <option>{{suppliers_list[5]}}</option>
                <option>{{suppliers_list[6]}}</option>
                <option>{{suppliers_list[7]}}</option>
                <option>{{suppliers_list[8]}}</option>
                <option>{{suppliers_list[9]}}</option>
                <option>{{suppliers_list[10]}}</option>
                <option>{{suppliers_list[11]}}</option>
                <option>{{suppliers_list[12]}}</option>
                <option>{{suppliers_list[13]}}</option>
                <option>{{suppliers_list[14]}}</option>
                <option>{{suppliers_list[15]}}</option>
                <option>{{suppliers_list[16]}}</option>
                <option>{{suppliers_list[17]}}</option>
                <option>{{suppliers_list[18]}}</option>
                <option>{{suppliers_list[19]}}</option>
                <option>{{suppliers_list[20]}}</option>
                <option>{{suppliers_list[21]}}</option>
                <option>{{suppliers_list[22]}}</option>
                <option>{{suppliers_list[23]}}</option>
                <option>{{suppliers_list[24]}}</option>
                <option>{{suppliers_list[25]}}</option>
                <option>{{suppliers_list[26]}}</option>
                <option>{{suppliers_list[27]}}</option>
                <option>{{suppliers_list[28]}}</option>
                <option>{{suppliers_list[29]}}</option>
                <option>{{suppliers_list[30]}}</option>
                <option>{{suppliers_list[31]}}</option>
                <option>{{suppliers_list[32]}}</option>
                <option>{{suppliers_list[33]}}</option>
                <option>{{suppliers_list[34]}}</option>
                <option>{{suppliers_list[35]}}</option>
                <option>{{suppliers_list[36]}}</option>
                <option>{{suppliers_list[37]}}</option>
                <option>{{suppliers_list[38]}}</option>
                <option>{{suppliers_list[39]}}</option>
                <option>{{suppliers_list[40]}}</option>
                <option>{{suppliers_list[41]}}</option>
                <option>{{suppliers_list[42]}}</option>
                <option>{{suppliers_list[43]}}</option>
                <option>{{suppliers_list[44]}}</option>
                <option>{{suppliers_list[45]}}</option>
                <option>{{suppliers_list[46]}}</option>
                <option>{{suppliers_list[47]}}</option>
                <option>{{suppliers_list[48]}}</option>
                <option>{{suppliers_list[49]}}</option>
                <option>{{suppliers_list[50]}}</option>
                <option>{{suppliers_list[51]}}</option>
                <option>{{suppliers_list[52]}}</option>
                <option>{{suppliers_list[53]}}</option>
                <option>{{suppliers_list[54]}}</option>
                <option>{{suppliers_list[55]}}</option>
                <option>{{suppliers_list[56]}}</option>
                <option>{{suppliers_list[57]}}</option>
                <option>{{suppliers_list[58]}}</option>
                <option>{{suppliers_list[59]}}</option>
                <option>{{suppliers_list[60]}}</option>
                <option>{{suppliers_list[61]}}</option>
                <option>{{suppliers_list[62]}}</option>
                <option>{{suppliers_list[63]}}</option>
                <option>{{suppliers_list[64]}}</option>
                <option>{{suppliers_list[65]}}</option>
                <option>{{suppliers_list[66]}}</option>
                <option>{{suppliers_list[67]}}</option>
                <option>{{suppliers_list[68]}}</option>
                <option>{{suppliers_list[69]}}</option>
                <option>{{suppliers_list[70]}}</option>
                <option>{{suppliers_list[71]}}</option>
                <option>{{suppliers_list[72]}}</option>
                <option>{{suppliers_list[73]}}</option>
                <option>{{suppliers_list[74]}}</option>
                <option>{{suppliers_list[75]}}</option>
                <option>{{suppliers_list[76]}}</option>
                <option>{{suppliers_list[77]}}</option>
                <option>{{suppliers_list[78]}}</option>
                <option>{{suppliers_list[79]}}</option>
                <option>{{suppliers_list[80]}}</option>
                <option>{{suppliers_list[81]}}</option>
                <option>{{suppliers_list[82]}}</option>
                <option>{{suppliers_list[83]}}</option>
                <option>{{suppliers_list[84]}}</option>
                <option>{{suppliers_list[85]}}</option>
                <option>{{suppliers_list[86]}}</option>
                <option>{{suppliers_list[87]}}</option>
                <option>{{suppliers_list[88]}}</option>
                <option>{{suppliers_list[89]}}</option>
                <option>{{suppliers_list[90]}}</option>
                <option>{{suppliers_list[91]}}</option>
                <option>{{suppliers_list[92]}}</option>
                <option>{{suppliers_list[93]}}</option>
                <option>{{suppliers_list[94]}}</option>
                <option>{{suppliers_list[95]}}</option>
                <option>{{suppliers_list[96]}}</option>
                <option>{{suppliers_list[97]}}</option>
                <option>{{suppliers_list[98]}}</option>
                <option>{{suppliers_list[99]}}</option>
                <option>{{suppliers_list[100]}}</option>
            </datalist></td>
        </tr>
    </table>
    <table>
        <tr>
            <th> Наименование </th>
            <th> Количество </th>
            <th> Ценовая категория </th>
            <th> Стоимость </th>
        </tr>
        <tr>
            <td><input class="prod" list="{{prod_list}}" >
                <datalist id="{{prod_list}}">
                <option>{{prod_list[0]}}</option>
                <option>{{prod_list[1]}}</option>
                <option>{{prod_list[2]}}</option>
                <option>{{prod_list[3]}}</option>
                <option>{{prod_list[4]}}</option>
                <option>{{prod_list[5]}}</option>
                <option>{{prod_list[6]}}</option>
                <option>{{prod_list[7]}}</option>
                <option>{{prod_list[8]}}</option>
                <option>{{prod_list[9]}}</option>
                <option>{{prod_list[10]}}</option>
                <option>{{prod_list[11]}}</option>
                <option>{{prod_list[12]}}</option>
                <option>{{prod_list[13]}}</option>
                <option>{{prod_list[14]}}</option>
                <option>{{prod_list[15]}}</option>
                <option>{{prod_list[16]}}</option>
                <option>{{prod_list[17]}}</option>
                <option>{{prod_list[18]}}</option>
                <option>{{prod_list[19]}}</option>
                <option>{{prod_list[20]}}</option>
                <option>{{prod_list[21]}}</option>
                <option>{{prod_list[22]}}</option>
                <option>{{prod_list[23]}}</option>
                <option>{{prod_list[24]}}</option>
                <option>{{prod_list[25]}}</option>
                <option>{{prod_list[26]}}</option>
                <option>{{prod_list[27]}}</option>
                <option>{{prod_list[28]}}</option>
                <option>{{prod_list[29]}}</option>
                <option>{{prod_list[30]}}</option>
                <option>{{prod_list[31]}}</option>
                <option>{{prod_list[32]}}</option>
                <option>{{prod_list[33]}}</option>
                <option>{{prod_list[34]}}</option>
                <option>{{prod_list[35]}}</option>
                <option>{{prod_list[36]}}</option>
                <option>{{prod_list[37]}}</option>
                <option>{{prod_list[38]}}</option>
                <option>{{prod_list[39]}}</option>
                <option>{{prod_list[40]}}</option>
                <option>{{prod_list[41]}}</option>
                <option>{{prod_list[42]}}</option>
                <option>{{prod_list[43]}}</option>
                <option>{{prod_list[44]}}</option>
                <option>{{prod_list[45]}}</option>
                <option>{{prod_list[46]}}</option>
                <option>{{prod_list[47]}}</option>
                <option>{{prod_list[48]}}</option>
                <option>{{prod_list[49]}}</option>
                <option>{{prod_list[50]}}</option>
                <option>{{prod_list[51]}}</option>
                <option>{{prod_list[52]}}</option>
                <option>{{prod_list[53]}}</option>
                <option>{{prod_list[54]}}</option>
                <option>{{prod_list[55]}}</option>
                <option>{{prod_list[56]}}</option>
                <option>{{prod_list[57]}}</option>
                <option>{{prod_list[58]}}</option>
                <option>{{prod_list[59]}}</option>
                <option>{{prod_list[60]}}</option>
                <option>{{prod_list[61]}}</option>
                <option>{{prod_list[62]}}</option>
                <option>{{prod_list[63]}}</option>
                <option>{{prod_list[64]}}</option>
                <option>{{prod_list[65]}}</option>
                <option>{{prod_list[66]}}</option>
                <option>{{prod_list[67]}}</option>
                <option>{{prod_list[68]}}</option>
                <option>{{prod_list[69]}}</option>
                <option>{{prod_list[70]}}</option>
                <option>{{prod_list[71]}}</option>
                <option>{{prod_list[72]}}</option>
                <option>{{prod_list[73]}}</option>
                <option>{{prod_list[74]}}</option>
                <option>{{prod_list[75]}}</option>
                <option>{{prod_list[76]}}</option>
                <option>{{prod_list[77]}}</option>
                <option>{{prod_list[78]}}</option>
                <option>{{prod_list[79]}}</option>
                <option>{{prod_list[80]}}</option>
                <option>{{prod_list[81]}}</option>
                <option>{{prod_list[82]}}</option>
                <option>{{prod_list[83]}}</option>
                <option>{{prod_list[84]}}</option>
                <option>{{prod_list[85]}}</option>
                <option>{{prod_list[86]}}</option>
                <option>{{prod_list[87]}}</option>
                <option>{{prod_list[88]}}</option>
                <option>{{prod_list[89]}}</option>
                <option>{{prod_list[90]}}</option>
                <option>{{prod_list[91]}}</option>
                <option>{{prod_list[92]}}</option>
                <option>{{prod_list[93]}}</option>
                <option>{{prod_list[94]}}</option>
                <option>{{prod_list[95]}}</option>
                <option>{{prod_list[96]}}</option>
                <option>{{prod_list[97]}}</option>
                <option>{{prod_list[98]}}</option>
                <option>{{prod_list[99]}}</option>
                <option>{{prod_list[100]}}</option>
            </datalist></td>
            <td><input class="amount" type="text" /></td>
            <td><input class="category" list="{{category_list}}" >
                <datalist id="{{category_list}}">
                <option>{{category_list[0]}}</option>
                <option>{{category_list[1]}}</option>
                <option>{{category_list[2]}}</option>
                <option>{{category_list[3]}}</option>
                <option>{{category_list[4]}}</option>
                <option>{{category_list[5]}}</option>
                <option>{{category_list[6]}}</option>
                <option>{{category_list[7]}}</option>
                <option>{{category_list[8]}}</option>
                <option>{{category_list[9]}}</option>
                <option>{{category_list[10]}}</option>
                </datalist></td>
            <td><input class="price" type="text" /></td>
        </tr>
        <tr>
            <td><input class="prod" list="{{prod_list}}" >
                <datalist id="{{prod_list}}">
                <option>{{prod_list[0]}}</option>
                <option>{{prod_list[1]}}</option>
                <option>{{prod_list[2]}}</option>
                <option>{{prod_list[3]}}</option>
                <option>{{prod_list[4]}}</option>
                <option>{{prod_list[5]}}</option>
                <option>{{prod_list[6]}}</option>
                <option>{{prod_list[7]}}</option>
                <option>{{prod_list[8]}}</option>
                <option>{{prod_list[9]}}</option>
                <option>{{prod_list[10]}}</option>
                <option>{{prod_list[11]}}</option>
                <option>{{prod_list[12]}}</option>
                <option>{{prod_list[13]}}</option>
                <option>{{prod_list[14]}}</option>
                <option>{{prod_list[15]}}</option>
                <option>{{prod_list[16]}}</option>
                <option>{{prod_list[17]}}</option>
                <option>{{prod_list[18]}}</option>
                <option>{{prod_list[19]}}</option>
                <option>{{prod_list[20]}}</option>
                <option>{{prod_list[21]}}</option>
                <option>{{prod_list[22]}}</option>
                <option>{{prod_list[23]}}</option>
                <option>{{prod_list[24]}}</option>
                <option>{{prod_list[25]}}</option>
                <option>{{prod_list[26]}}</option>
                <option>{{prod_list[27]}}</option>
                <option>{{prod_list[28]}}</option>
                <option>{{prod_list[29]}}</option>
                <option>{{prod_list[30]}}</option>
                <option>{{prod_list[31]}}</option>
                <option>{{prod_list[32]}}</option>
                <option>{{prod_list[33]}}</option>
                <option>{{prod_list[34]}}</option>
                <option>{{prod_list[35]}}</option>
                <option>{{prod_list[36]}}</option>
                <option>{{prod_list[37]}}</option>
                <option>{{prod_list[38]}}</option>
                <option>{{prod_list[39]}}</option>
                <option>{{prod_list[40]}}</option>
                <option>{{prod_list[41]}}</option>
                <option>{{prod_list[42]}}</option>
                <option>{{prod_list[43]}}</option>
                <option>{{prod_list[44]}}</option>
                <option>{{prod_list[45]}}</option>
                <option>{{prod_list[46]}}</option>
                <option>{{prod_list[47]}}</option>
                <option>{{prod_list[48]}}</option>
                <option>{{prod_list[49]}}</option>
                <option>{{prod_list[50]}}</option>
                <option>{{prod_list[51]}}</option>
                <option>{{prod_list[52]}}</option>
                <option>{{prod_list[53]}}</option>
                <option>{{prod_list[54]}}</option>
                <option>{{prod_list[55]}}</option>
                <option>{{prod_list[56]}}</option>
                <option>{{prod_list[57]}}</option>
                <option>{{prod_list[58]}}</option>
                <option>{{prod_list[59]}}</option>
                <option>{{prod_list[60]}}</option>
                <option>{{prod_list[61]}}</option>
                <option>{{prod_list[62]}}</option>
                <option>{{prod_list[63]}}</option>
                <option>{{prod_list[64]}}</option>
                <option>{{prod_list[65]}}</option>
                <option>{{prod_list[66]}}</option>
                <option>{{prod_list[67]}}</option>
                <option>{{prod_list[68]}}</option>
                <option>{{prod_list[69]}}</option>
                <option>{{prod_list[70]}}</option>
                <option>{{prod_list[71]}}</option>
                <option>{{prod_list[72]}}</option>
                <option>{{prod_list[73]}}</option>
                <option>{{prod_list[74]}}</option>
                <option>{{prod_list[75]}}</option>
                <option>{{prod_list[76]}}</option>
                <option>{{prod_list[77]}}</option>
                <option>{{prod_list[78]}}</option>
                <option>{{prod_list[79]}}</option>
                <option>{{prod_list[80]}}</option>
                <option>{{prod_list[81]}}</option>
                <option>{{prod_list[82]}}</option>
                <option>{{prod_list[83]}}</option>
                <option>{{prod_list[84]}}</option>
                <option>{{prod_list[85]}}</option>
                <option>{{prod_list[86]}}</option>
                <option>{{prod_list[87]}}</option>
                <option>{{prod_list[88]}}</option>
                <option>{{prod_list[89]}}</option>
                <option>{{prod_list[90]}}</option>
                <option>{{prod_list[91]}}</option>
                <option>{{prod_list[92]}}</option>
                <option>{{prod_list[93]}}</option>
                <option>{{prod_list[94]}}</option>
                <option>{{prod_list[95]}}</option>
                <option>{{prod_list[96]}}</option>
                <option>{{prod_list[97]}}</option>
                <option>{{prod_list[98]}}</option>
                <option>{{prod_list[99]}}</option>
                <option>{{prod_list[100]}}</option>
            </datalist></td>
            <td><input class="amount" type="text" /></td>
            <td><input class="category" list="{{category_list}}" >
                <datalist id="{{category_list}}">
                <option>{{category_list[0]}}</option>
                <option>{{category_list[1]}}</option>
                <option>{{category_list[2]}}</option>
                <option>{{category_list[3]}}</option>
                <option>{{category_list[4]}}</option>
                <option>{{category_list[5]}}</option>
                <option>{{category_list[6]}}</option>
                <option>{{category_list[7]}}</option>
                <option>{{category_list[8]}}</option>
                <option>{{category_list[9]}}</option>
                <option>{{category_list[10]}}</option>
                </datalist></td>
            <td><input class="price" type="text" /></td>
        </tr>
    </table>
</form>


{% endblock %}
