 .u-section-1 {
  min-height: 410px;
}

.u-section-1 .u-group-1 {
  margin-top: 20px;
  margin-bottom: 20px;
  height: auto;
  min-height: 370px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-btn-1 {
  font-weight: 600;
  font-size: 1.125rem;
  margin: 0 auto;
  padding: 10px 106px 10px 105px;
}

.u-section-1 .u-search-1 {
  height: auto;
  width: 580px;
  min-height: 40px;
  margin: 20px auto 0 20px;
}

.u-section-1 .u-search-input-1 {
  font-size: 0.777778rem;
}

.u-section-1 .u-table-1 {
  width: 1140px;
  margin: 20px auto 0;
}

.u-section-1 .u-table-header-1 {
  background-image: none;
  font-weight: 700;
}

.u-section-1 .u-table-body-1 {
  font-weight: 600;
  font-size: 1rem;
  background-image: none;
}

.u-section-1 .u-table-cell-8 {
  height: 46px;
}

.u-block-3083-54 {
  height: 46px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    height: auto;
  }

  .u-section-1 .u-table-1 {
    width: 940px;
  }

  .u-section-1 .u-table-header-1 {
    font-size: 1rem;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-btn-1 {
    font-size: 0.777778rem;
  }

  .u-section-1 .u-table-1 {
    width: 720px;
  }

  .u-section-1 .u-table-header-1 {
    font-size: 0.777778rem;
  }

  .u-section-1 .u-table-body-1 {
    font-size: 0.777778rem;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-search-1 {
    width: 520px;
    margin-left: 0;
  }

  .u-section-1 .u-table-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 528px;
  }

  .u-section-1 .u-group-1 {
    margin-top: 10px;
    margin-bottom: 10px;
    min-height: 508px;
  }

  .u-section-1 .u-container-layout-1 {
    padding: 13px 0;
  }

  .u-section-1 .u-btn-1 {
    padding-right: 40px;
    padding-left: 39px;
  }

  .u-section-1 .u-search-1 {
    width: 320px;
    margin-top: 10px;
    margin-left: auto;
  }

  .u-section-1 .u-table-1 {
    margin-top: 10px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}