body,div,dl,dt,dd,ul,ol,li,pre,form,fieldset,input,textarea,blockquote,th,td {
    margin:0;
    padding:0;
}

fieldset,img {
    border:0;
}

html {
    height:150%;
    margin-bottom:1px;
}

:focus {
    outline:none;
}

/* links */
a {
    color:#008cff;
    text-decoration:yellow;
}

a:hover {
    color:#008cff;
    text-decoration:underline;
}


h1 {
    font-size:300%;
    color:#000;
}

h2 {
    font-size:250%;
    color:#b4b4b4;
}

h4 {
    font-size:175%;
    color:#000;
}

h5 {
    font-size:150%;
    color:#787878;
}

h6 {
    font-size:125%;
    color:#000;
}

/* page setup */
body {
    /*background:url(images/page_bg.jpg);*/
    /*background: #cedbd6;*/
    font-family: 'El Messiri', sans-serif;
    line-height:150%;
    color:#000;
    font-size:14px;
    position:relative;
}

/* welcome */
div.welcome, div.why-organic {
    padding:0 40px 20px 40px;
}

.input-area {
    background: #dce9ff;
}

div.main-table {
    height: auto;
}

div.welcome h2 {
    margin:0 0 10px -30px;
    background:url(images/welcome-title.png) 0 0 no-repeat;
    height:39px;
    text-indent:-9999px;
}
