{% extends 'base.html' %}

{% block body %}

<h1>{{ the_title }}</h1>
<h2>Что это такое</h2>

<input type="text" />

<p><a href="so_linker">Вторая страница</a></p>
<p>Фрэймворк для формирования веб-приложений</p>
<h2>Для чего это нужно</h2>
<p>Чтобы изучить HTML, и зарабатывать на этом ;)</p>
<img src="https://upload.wikimedia.org/wikipedia/commons/b/b7/Html-source-code.png" width="200" height="300" alt="google.com" />
<ul>
    <li>Чтобы изучить HTML</li>
    <li>Параллельно изучается
        <ol>
            <li>HTML разметка</li>
            <li>Пагинация</li>
            <li>Верстка сайтов</li>
            <li>Функции и их применение</li>
        </ol>
    </li>
    <li>Потому что мне это нравится и я хочу этому посвятить свое время</li>
</ul>
<p><a href="https://google.com">GooGLE</a></p>
<table>
    <tr>
        <td> </td>
        <td>Привет!</td>
        <td>Здорова!</td>
    </tr>
    <tr>
        <td>Как дела?</td>
        <td>Привет! Как дела?</td>
        <td>Здорова! Как дела?</td>
    </tr>
    <tr>
        <td>Че делаешь?</td>
        <td>Привет! Че делаешь?</td>
        <td>Здорова! Че делаешь?</td>
    </tr>
    <tr>
        <td>Как сам?</td>
        <td>Привет! Как сам?</td>
        <td>Здорова! Как сам?</td>
    </tr>
</table>

{% endblock %}
