{% extends 'base.html' %}

{% block body %}
<div align="center">
    <img src="static/images/welcome-title.png" />
    <h3>{{the_title}}</h3>
</div>
<form method="post" action="/main_complete">
    <table align="center" bgcolor="#d3d3d3" style="margin: 50px auto;">
        <tr>
            <th colspan="2"><div align="center">Создание заявки</div></th>
        </tr>
        <tr>
            <th>Укажите дату: </th>
            <td><input type="date" name="date"></td>
        </tr>
        <tr>
            <th>Укажите время: </th>
            <td><input type="time" name="time"></td>
        </tr>
        <tr>
            <th>Отгружаем со склада: </th>
            <td><input type="search" name="stock" list="{{stocks_list}}">
                <datalist id="{{stocks_list}}">
                    {% for option in stocks_list %}
                    <option value="{{option}}"></option>
                    {% endfor %}
                </datalist></td>
        </tr>
        <tr>
            <th> Выберите получателя: </th>
            <td><input type="search" name="supplier" list="{{suppliers_list}}">
                <datalist id="{{suppliers_list}}">
                    {% for option in suppliers_list %}
                    <option value="{{option}}"></option>
                    {% endfor %}
                </datalist></td>
        </tr>
        <tr>
            <th> Выберите ценовую категорию: </th>
            <td>
                <input type="search" name="categories" list="{{category_list}}">
                <datalist id="{{category_list}}">
                    {% for option in category_list %}
                    <option value="{{option}}"></option>
                    {% endfor %}
                </datalist>
            </td>
        </tr>
        <tr>
            <td colspan="2">
    <div align="center">
        <input type="submit" id="buttonPricelist" value=" Выгрузить прайс-лист "/>
    </div></td>
        </tr>
    </table>
</form>
<form method="post" action="/sample_send">
    <table align="center" bgcolor="#ffdab9" style="margin: 50px auto;">
        <tr>
            <th colspan="2">Создать заявку по шаблону</th>
        </tr>
        <tr>
            <td align="right">Список шаблонов:</td>
            <td align="left"><input type="search" name="sample" list="{{sample_list}}">
                <datalist id="{{sample_list}}">
                    {% for sample in sample_list %}
                    <option value="{{sample}}"></option>
                    {% endfor %}
                </datalist></td>
        </tr>
        <tr>
            <td align="center" colspan="2"><input type="submit" id="buttonSample" value=" Использовать шаблон "/></td>
        </tr>
        <tr>
            <td align="right">Создание шаблонов:</td>
            <th><a href="/create">Создать шаблон</a></th>
        </tr>
        <tr>
            <td colspan="2">При изменении данных в iikoOffice выполните синхронизацию</td>
        </tr>
        <tr>
            <th align="center" colspan="2"><a href="/auth">Синхронизация справочников</a></th>
        </tr>
        <tr>
            <td align="center" colspan="2"><font size="0.1"><em>Последняя синронизация выполнена: {{ synch_time }}</em></font></td>
        </tr>
    </table>
</form>


{% endblock %}
