{% extends 'base.html' %}

{% block body %}
<form method="post" action="/send">
    <div align="center">
        <img src="static/images/welcome-title.png" />
        <h3>{{the_title}}</h3>
    </div>
    <div align="center">
        <table>
            <tr>
                <th>Дата и время: </th>
                <td><span id="datetime">{{datetime_now}}</span></td>
            </tr>
            <tr>
                <th>Отгружаем со склада: </th>
                <td><span id="chosen_stock">{{stock}}</span></td>
            </tr>
            <tr>
                <th> Выберите получателя: </th>
                <td><span id="chosen_supplier">{{supplier}}</span></td>
            </tr>
            <tr>
                <th> Выберите ценовую категорию: </th>
                <td><span id="chosen_category">{{category}}</span></td>
            </tr>
        </table>
    </div>
    <div align="center">
        <table border="1">
            <tr>
                <th> Наименование </th>
                <th> Цена </th>
                <th> Количество </th>
                <th> Сумма </th>
            </tr>
            {% for name in order %}
            {% if am[name]|float != 0 %}
            <tr>
                <td>{{ name }}</td>
                <td>{{ pricelist[name]|float }}</td>
                <td>{{ am[name]|float }}</td>
                <td>{{ ((pricelist[name]|float) * (am[name]|float)) | round(2) }}</td>
            </tr>
            {% endif %}
            {% endfor %}
        </table>
    </div>
    <div align="center">
        Проверьте правильность заполненной заявки. <br>
        Если нашли ошибку, необходимо заполнить заново<br>
        <a href="/">Вернуться</a><br>
        Если все внесено правильно,<br>
        введите логин и пароль от iikoOffice и нажмите "Отправить"<br>
    </div>
    <div align="center">
        <table>
            <tr>
                <span>
                    <td>Логин:</td>
                    <td><input name="login" type="text"/></td>
                </span>
            </tr>
            <tr>
                <span>
                    <td>Пароль:</td>
                    <td><input name="password" type="password" /></td>
                </span>
            </tr>
            <tr>
                <span>
                    <td><input type="submit" id="FormAnApplication" value=" Отправить заявку " /></td>
                </span>
            </tr>
        </table>
    </div>
</form>


{% endblock %}
