{% extends 'base.html' %}

{% block body %}
<form method="post" action="/main_complete">
    <div align="center">
        <img src="static/images/welcome-title.png" />
        <h3>{{the_title}}</h3>
    </div>
    <div align="center">
        <a href="/auth">Синхронизация справочников</a><br>
        <span><font size="1"><em>Последняя синронизация выполнена: {{ synch_time }}</em></font></span>
    </div>
    <div align="center">
        <table>
            <tr>
                <th>Дата и время: </th>
                <td><span name="datetime">{{datetime_now}}</span></td>
            </tr>
            <tr>
                <th>Отгружаем со склада: </th>
                <td><input type="search" name="stock" list="{{stocks_list}}">
                    <datalist id="{{stocks_list}}">
                        {% for option in stocks_list %}
                        <option value="{{option}}"></option>
                        {% endfor %}
                </datalist></td>
            </tr>
            <tr>
                <th> Выберите получателя: </th>
                <td><input type="search" name="supplier" list="{{suppliers_list}}">
                    <datalist id="{{suppliers_list}}">
                        {% for option in suppliers_list %}
                        <option value="{{option}}"></option>
                        {% endfor %}
                </datalist></td>
            </tr>
            <tr>
                <th> Выберите ценовую категорию: </th>
                <td>
                    <input type="search" name="categories" list="{{category_list}}">
                    <datalist id="{{category_list}}">
                        {% for option in category_list %}
                        <option value="{{option}}"></option>
                        {% endfor %}
                    </datalist>
                </td>
            </tr>
        </table>
    </div>
    <div align="center">
        <input type="submit" id="buttonPricelist" value=" Выгрузить прайс-лист "/>
    </div>
</form>


{% endblock %}
