{% extends 'base.html' %}

{% block body %}
<form method="post" action="/save_sample">
    <div align="center">
        <img src="static/images/welcome-title.png" />
        <h3>{{the_title}}</h3>
    </div>
    <div align="center">
        <table align="center">
            <tr>
                <th align="right">Задайте имя шабона: </th>
                <td align="left"><input type="text" name="sample_name"></td>
            </tr>
            <tr>
                <td colspan="2" align="center"><input type="submit" value=" Сохранить шаблон "></td>
            </tr>
            <tr>
                <th align="right">Склад: </th>
                <td align="left"><span id="chosen_stock" name="stock">{{stock}}</span></td>
            </tr>
            <tr>
                <th align="right">Получатель: </th>
                <td align="left"><span id="chosen_supplier" name="supplier">{{supplier}}</span></td>
            </tr>
            <tr>
                <th align="right">Категория: </th>
                <td align="left"><span id="chosen_category" name="category">{{category}}</span></td>
            </tr>
            <tr>
                <td colspan="2" align="center">При заполнении столбца "Количество" запятые не использовать</td>
            </tr>
        </table>
    </div>
    <div align="center">
        <div class="form-group" align="center">
            <input type="text" class="form-control pull-right" id="search" placeholder="Поиск по таблице">
        </div>
        <table id="mytable" border="1" cellpadding="4" cellspacing="0">
            <thead>
                <tr>
                    <th> Наименование </th>
                    <th> Цена </th>
                    <th> Количество </th>
                </tr>
            </thead>
            <tbody>
                {% for name in order %}
                <tr name="line">
                    <td name="product">{{name}}</td>
                    <td>{{pricelist[name]}}</td>
                    <td><input name="amount" type="text" value="0"></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <br>
    <div align="center">
        <input type="text" name="sample_name">
        <input type="submit" value=" Сохранить шаблон ">
    </div>
</form>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>
$(document).ready(function(){

    $("#search").keyup(function(){

       _this = this;

       $.each($("#mytable tbody tr"), function() {

           if($(this).text().toLowerCase().indexOf($(_this).val().toLowerCase()) === -1) {

            $(this).hide();

           } else {

            $(this).show();

           }

       });

    });

});
</script>


{% endblock %}
