{% extends 'base.html' %}

{% block body %}
<form method="post" action="/send_2">
    <div align="center">
        <img src="static/images/welcome-title.png" />
        <h3>{{the_title}}</h3>
    </div>
    <div align="center">
        <table>
            <tr>
                <span>Если поля Дата и Время оставить пустыми, то используется текущее</span>
            </tr>
            <tr>
                <th>Укажите дату: </th>
                <td><input type="date" name="date"></td>
            </tr>
            <tr>
                <th>Укажите время: </th>
                <td><input type="time" name="time"></td>
            </tr>
            <tr>
                <th>Склад: </th>
                <td><span id="chosen_stock">{{sample['stock']}}</span></td>
            </tr>
            <tr>
                <th>Получатель: </th>
                <td><span id="chosen_supplier">{{sample['supplier']}}</span></td>
            </tr>
            <tr>
                <th>Категория: </th>
                <td><span id="chosen_category">{{sample['category']}}</span></td>
            </tr>
        </table>
    </div>
    <div align="center">
        <table border="1" cellpadding="4" cellspacing="0">
            <tr>
                <th> Наименование </th>
                <th> Цена </th>
                <th> Количество </th>
                <th> Сумма </th>
            </tr>
            {% for product, amount in sample['items'].items() %}
            <tr>
                <td name="product">{{ product }}</td>
                <td name="price">{{ pricelist[product]|float }}</td>
                <td name="amount">{{ amount }}</td>
                <td>{{ ((pricelist[product]|float) * (amount|float)) | round(2) }}</td>
            </tr>
            {% endfor %}
            <tr>
                <td colspan="3"> Общая сумма: </td>
                <td>{{ all_price|float | round(2) }}</td>
            </tr>
        </table>
    </div>
    <div align="center">
        <br>
        Проверьте правильность заполненной заявки. <br>
        Если нашли ошибку, вернитесь на предыдущую страницу<br>
        Если все внесено правильно,<br>
        введите логин и пароль от iikoOffice и нажмите "Отправить"<br>
    </div>
    <div align="center">
        <table>
            <tr>
                <span>
                    <td>Логин:</td>
                    <td><input name="login" type="text"/></td>
                </span>
            </tr>
            <tr>
                <span>
                    <td>Пароль:</td>
                    <td><input name="password" type="password" /></td>
                </span>
            </tr>
            <tr>
                <span>
                    <td><input type="submit" id="FormAnApplication" value=" Отправить заявку " /></td>
                </span>
            </tr>
        </table>
    </div>
</form>


{% endblock %}
