{% extends 'base.html' %}

{% block body %}

<h4>{{ the_title }}</h4>

<form method='POST' action="/settings_complete">
    <div>
        <table>
            <tr>
                <th> Контрагент </th>
                <th> Ценовая категория </th>
            </tr>
            <tr>
                <td>
                    <ul>
                        {% for supplier in suppliers %}
                        <li>{{ supplier }}</li>
                        {% endfor %}
                    </ul>
                </td>
                <td>
                    <ul>
                        {% for supplier in suppliers %}
                        <li>
                            <input id="category" list="{{category}}">
                            <datalist id="{{category}}">
                                {% for option in category %}
                                <option name="cat_name" value="{{option}}">{{option}}</option>
                                {% endfor %}
                            </datalist>
                        </li>
                        {% endfor %}
                    </ul>
                </td>
            </tr>
        </table>
    </div>
    <p><span name="button_go"> <input type="submit" value=" Сохранить данные "></span></p>

</form>

{% endblock %}