.u-section-1 .u-sheet-1 {
  min-height: 536px;
}

.u-section-1 .u-group-1 {
  min-height: 498px;
  margin-top: 20px;
  margin-bottom: 20px;
  height: auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-table-1 {
  margin-bottom: 0;
  margin-top: 1px;
}

.u-section-1 .u-table-header-1 {
  background-image: none;
}

.u-block-50c5-32 {
  height: 49px;
}

.u-section-1 .u-btn-1 {
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  margin: 20px auto 0;
}

.u-section-1 .u-text-1 {
  margin: 20px 20px 0;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  border-style: solid;
  margin: 20px auto 0;
  padding: 0;
}

.u-section-1 .u-btn-3 {
  background-image: none;
  border-style: solid;
  margin: 20px auto 0;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    height: auto;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}