.u-section-1 .u-sheet-1 {
  min-height: 1117px;
}

.u-section-1 .u-group-1 {
  height: auto;
  width: 662px;
  min-height: 243px;
  margin: 20px auto 0;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 0 23px;
}

.u-section-1 .u-table-1 {
  width: 495px;
  margin: 20px auto 0;
}

.u-block-7c4a-12 {
  height: 49px;
}

.u-section-1 .u-table-cell-1 {
  font-weight: 600;
}

.u-section-1 .u-table-cell-3 {
  font-weight: 600;
}

.u-section-1 .u-table-cell-5 {
  font-weight: 600;
}

.u-section-1 .u-table-cell-7 {
  font-weight: 600;
}

.u-block-7c4a-25 {
  height: 49px;
}

.u-section-1 .u-group-2 {
  min-height: 306px;
  margin-top: 30px;
  margin-bottom: 0;
  height: auto;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 30px 26px;
}

.u-section-1 .u-table-2 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-block-7c4a-37 {
  height: 49px;
}

.u-section-1 .u-table-body-2 {
  background-image: none;
  font-weight: 600;
}

.u-block-7c4a-64 {
  height: 49px;
}

.u-section-1 .u-group-3 {
  width: 800px;
  min-height: 469px;
  height: auto;
  margin: 20px auto 29px;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 0 auto;
}

.u-section-1 .u-form-1 {
  margin-top: 30px;
  margin-bottom: 0;
  height: 350px;
}

.u-section-1 .u-form-group-1 {
  margin-left: 0;
}

.u-section-1 .u-label-1 {
  width: 149px;
}

.u-section-1 .u-label-2 {
  width: 149px;
}

.u-section-1 .u-label-3 {
  width: 149px;
}

.u-section-1 .u-label-4 {
  width: 149px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    height: auto;
  }

  .u-section-1 .u-group-2 {
    height: auto;
  }

  .u-section-1 .u-group-3 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-group-3 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-group-1 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-group-3 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-group-1 {
    width: 340px;
  }

  .u-section-1 .u-table-1 {
    width: 340px;
  }

  .u-section-1 .u-group-3 {
    width: 340px;
  }
}